<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple game</title>

    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Player</h1>
                <div class="life-bar">
                    <div class="life" 
                        :class="{danger: playerLife < 20}"
                        :style="{width: `${playerLife}%`}"
                    ></div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>
            <div class="score">
                <h1>Monster</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: monsterLife < 20}"
                        :style="{width: `${monsterLife}%`}"
                    ></div>
                </div>
                <div>{{ monsterLife }}%</div>
            </div>
        </div>


        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife === 0" class="win">You win!</div>
            <div v-else class="lose">You lose!</div>
        </div>


        <div class="panel buttons">
            <template v-if="running">
                <button class="btn attack" @click="attack(false)">Attack</button>
                <button class="btn special-attack" @click="attack(true)">Special Attack</button>
                <button class="btn heal" @click="healAndHurt">Heal</button>
                <button class="btn give-up" @click="running = false">Give up</button>
            </template>
            <button v-else class="btn new-game" @click="startGame">Start Game</button>
        </div>


        <div v-if="logs.length" class="panel logs">
            <ul>
                <li v-for="log in logs" 
                    class="log"
                    :class="log.cls"
                >{{ log.text }}</li>
            </ul>

        </div>
    </div>
    
    <script src="app.js"></script>
</body>
</html>